@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Mulish', sans-serif, system-ui, Avenir, Helvetica, Arial;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
  place-items: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

.triangle-clip {
  clip-path: polygon(0% 100%, 100% 0%, 100% 100%);
  position: absolute;
}

.sec-triangle-clip {
  clip-path: polygon(0% 0%, 100% 0%, 0 100%);
  position: absolute;
}

.landing-clip {
  clip-path: polygon(0% 0%, 100% 0%, 100% 13%, 95% 80%, 0% 100%);
  position: absolute;
}

.sec-landing-clip {
  clip-path: polygon(0% 0%, 98% 0%, 90% 80%, 0% 100%);
  position: absolute;
}